@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        JNIO is a one stop shop for PC internal parts and other computing accessories. The application will <br />
        showcase a selection of different PC parts and allow for collection of choices into a shopping cart. <br />
        There shuld be a membership with login info and some way to compare parts to other similar parts. <br />
        Maybe even a model setup feature that allows for seeing all the parts assigned to their roles to assure <br />
        nothing is looked over. All these and more emply promises at Johnny Nexus IO.
    </p>
    <p>
        Disclaimer: we do not sell stolen classified soviet era chips and boards behind the dumpster on the first Thursday of the month.
    </p>
</div>
